.pgHeader {
	padding-left: 10%;
	padding-top: 30px;
	padding-bottom: 30px;
	background: #269ABC;

	.pgHeaderText {
		color: #FFFFFF;
		font-size: 30px;
	}

	.pgHeaderTextSm {
		color: rgba(255, 255, 255, 0.6);
	}
}
