/*引入所有的样式文件*/

@import "./variables.less";

@import "./template.less";
@import "./about.less";
@import "./sub-styles/indexPage.less";
@import "./sub-styles/fe.less";
@import "./sub-styles/cg.less";
@import "./sub-styles/titleBlock.less";
@import "./sub-styles/gallery.less";
@import "./sub-styles/items.less";
@import "./sub-styles/me.less";

@import "./component-styles/todo.less";
@import "./component-styles/chisha.less";
@import "./component-styles/iphoneScreen.less";

*{
	padding: 0;
	margin: 0;
}

html,body{
	height: 100%;
}

#outter{
	background-color: @outterBgColor;
	min-height: 800px;
}

@media only screen and (max-width: 768px){
	.navbar {
		text-align: center;
	}
}
